

/*//////////////////////////////////////////////////////////////////
[ FONT ]*/


@font-face {
  font-family: Montserrat-Regular;
  src: url('../fonts/montserrat/Montserrat-Regular.ttf'); 
}

@font-face {
  font-family: Montserrat-Medium;
  src: url('../fonts/montserrat/Montserrat-Medium.ttf'); 
}

/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/
* {
  margin: 0px; 
  padding: 0px; 
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-family: sans-serif;
  color: white;
  background-color: #696969;
}

/* ------------------------------------ */
a {
  margin: 0px;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  text-decoration: none;
  color: #d3d3d3;
}

a:focus {
  outline: none !important;
}

a:hover {
  text-decoration: none;
}

/* ------------------------------------ */
h1,h2,h3,h4,h5,h6 {margin: 0px;}

p {margin: 0px;}

ul, li {
  margin: 0px;
  list-style-type: none;
}


/* ------------------------------------ */
input {
  display: block;
  outline: none;
  border: none !important;
}

textarea {
  display: block;
  outline: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

/* ------------------------------------ */
button {
  outline: none !important;
  border: none;
  background: transparent;
}

button:hover {
  cursor: pointer;
}

iframe {
  border: none !important;
}



/*//////////////////////////////////////////////////////////////////
[ Table ]*/

.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-table100 {
  width: 100%;
  min-height: 100vh;
  background: #d1d1d1;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 33px 30px;
}

.wrap-table100 {
  width: 1300px;
}

/*//////////////////////////////////////////////////////////////////
[ Table ]*/
table {
  width: 100%;
  background-color: #fff;
}

th, td {
  font-weight: unset;
  padding-right: 10px;
}

.column100 {
  width: 130px;
  padding-left: 25px;
}

.column100.column1 {
  width: 265px;
  padding-left: 42px;
}

.row100.head th {
  padding-top: 24px;
  padding-bottom: 20px;
}

.row100 td {
  padding-top: 18px;
  padding-bottom: 14px;
}


.table100.ver1 td {
  font-family: Montserrat-Regular;
  font-size: 14px;
  color: #808080;
  line-height: 1.4;
}

.table100.ver1 th {
  font-family: Montserrat-Medium;
  font-size: 12px;
  color: #fff;
  line-height: 1.4;
  text-transform: uppercase;

  background-color: #333333;
}

.table100.ver1 .row100:hover td {
  background-color: #83d160;
  color: #fff;
}

.table100.ver1 .hov-column-ver1 {
  background-color: #83d160;
  color: #fff;
}

.table100.ver1 .hov-column-head-ver1 {
  background-color: #484848 !important;
}

.table100.ver1 .row100 td:hover {
  background-color: #57b846;
  color: #fff;
}

h1 {
  margin-left: 30px;
}

.background {
  text-align: center;
}

.container {
  max-width: 45%;
  padding: 1em;
  margin: 1em auto;
}

.container-wide {
  max-width: 85%;
  padding: 1em;
  margin: 1em auto;
}

.search-box label,
.search-box input,
.search-box select,
.search-box button {
  display: block;
  width: 100%;
  font-size: 14px; 
  margin-bottom: 5px;
  min-height: 25px;
}

.search-box label {
  text-transform: uppercase;
  font-size: 22px;
}

.search-box button {
  color: inherit;
  background-color: inherit;
  border: 2px solid white;
  border-radius: 4%;
  min-height: 35px;
}

.results-item {
  display: inline-block;
  width: 45%;
  min-height: 200px;
  padding: 20px;
}

.results-explanation {
  text-align: center;
  margin-bottom: 20px;
}

.results img {
  width: 300px;
  display: block;
  max-width: 85%;
  padding: 1em;
  margin: 1em auto;
  margin-left: auto;
  margin-right: auto;
}

.results-item h2,
.show-more a, 
.show-less a{
  display: inline-block;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* ----------------- Mobile, grid  ----------------- */
@media only screen and (max-width: 640px) {
  /* 3 columns, 3/12 in % */
  .results-item {
    width: 100%;
  }

  .container, .container-wide {
    width: 100%l
  }
}
